#https://editorconfig.org/#file-format-details
root = true

[*]
charset = utf-8
end-of-line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trainling_whitespace = true

[Makefile]
indent_style = tab

[*.md]
trim_trainling_whitespace = false

[*.{yaml,yml,json,js,css,jinjia2,j2,md,toml,txt}]
indent_size = 2
