.env
!.env.template
!.gitignore
!**/.gitkeep
.DS_Store
*.swp
*~
.*cache
**/*.py[cod]
**/*.lic
**/*.npy
.venv/
.local/
public/
site/
**/.ipynb_checkpoints
**/__pycache__
**/compose.yaml
**/docker-compose.yaml
**/podman-compose.yaml
**/manifest.yaml
